<h1>ADMINISTRADOR</h1>
<input type="text" ng-model="input">
<ul dnd-list="models.lists.A">
    <li ng-repeat="item in models.lists.A"
        dnd-draggable="item"
        dnd-moved="models.lists.A.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}">
        {{item.label}}
    </li>
</ul>

<ul dnd-list="models.lists.B">
    <li ng-repeat="item in models.lists.B"
        dnd-draggable="item"
        dnd-moved="models.lists.B.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}">
        {{item.label}}
    </li>
</ul>
<button ng-click="Back()" ng-show="mostrar"> REGRESAMOS </button>