<script src="js/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.featureCarousel.js" type="text/javascript" charset="utf-8"></script>
<div ng-init="init()">
	<div class="box-container">
		<ui-carousel slides="cabeceraShow" on-init="onCarouselInit()" slides-to-show="1" slides-to-scroll="1" initial-slide="1"
		 on-after-change="onCarouselAfterChange(currentSlide)">
			<carousel-item>
				<a href="#" class="b-red">
					<!-- <div class="showroom"><img src="img/showroom.png" width="80%" /></div> -->
					<img class="imagemodulo" alt="Image Caption" src="{{ item.imagen }}" ng-click="$parent.$parent.irPersonalizar(item.Grupo_id)"/>
					<h2 class="titltb d-red">{{ item.Grupo_Nombre }}</h2>
				</a>
			</carousel-item>
			<carousel-prev>
				<a><i class="fa fa-chevron-left" style="font-size:70px; color:white" aria-hidden="true"></i></a>
			</carousel-prev>

			<carousel-next>
				<a><i class="fa fa-chevron-right" style="font-size:70px; color:white" aria-hidden="true"></i></a>
			</carousel-next>
		</ui-carousel>
	</div>
</div>
<div class="row idop" id="minis">
	<div class="col-sm-3" ng-repeat="cuadro in cuadritos">
		<a href="#" class="b-red">
			<img class="imagemodulo" alt="Image Caption" src="{{cuadro.imagen}}">
			<h2 class="titltb d-red">{{cuadro.Img_Titulo}}</h2>
		</a><br>
	</div>
</div>