<script type="text/javascript">

    function eliminar_tablero_show1() {
        $(".showandohide1").show();
    }
    function eliminar_tablero_hidden1() {
        $(".showandohide1").hide();
    }
    function eliminar_tablero_show2() {
        $(".showandohide2").show();
    }
    function eliminar_tablero_hidden2() {
        $(".showandohide2").hide();
    }
    function eliminar_tablero_show3() {
        $(".showandohide3").show();
    }
    function eliminar_tablero_hidden3() {
        $(".showandohide3").hide();
    }
    function eliminar_tablero_show4() {
        $(".showandohide4").show();
    }
    function eliminar_tablero_hidden4() {
        $(".showandohide4").hide();
    }
    function eliminar_tablero_show5() {
        $(".showandohide5").show();
    }
    function eliminar_tablero_hidden5() {
        $(".showandohide5").hide();
    }
</script>
<section class="contenido-perzonaliza" ng-init="init()">
    <div class="row">
        <div class="col-sm-12">
            <div class="titulo-perzonaliza">
                <h1>Personalizar pantallas</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="dealta">
                <h2>Nombre del grupo de pantallas</h2>
                <input type="text" ng-model="nombreGrupo">
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <br><br><br>
            <div class="cajabus">
                <a href="#" class="iconbus"><span class="lnr lnr-magnifier"></span></a>
                <input type="text" class="caja2" placeholder="Buscar tableros">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="dealta">
                <h2>Tableros seleccionados: 5</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="row" dnd-list="models.lists.A" style="height: 200px;">
                <div class="col-sm-2" ng-repeat="item in models.lists.A" dnd-draggable="item" dnd-moved="models.lists.A.splice($index, 1)"
                    dnd-effect-allowed="move" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                    <a href="#" data-toggle="modal" data-target="#editaImagen" ng-click="edita(item)" class="b-red spacedown">
                        <img class="imagemodulo" alt="Image Caption" ng-src="{{item.imagen}}" width="70px" height="70px">
                        <h2 class="titltb d-red">{{item.Img_Titulo}}</h2>
                    </a>
                    <!-- <a href="#" data-toggle="modal" data-target="#editaImagen" ng-click="edita(item)">HHJSAHKAJ</a> -->
                </div>
                <div class="col-sm-4">
                    <br><br><br><br><br>
                    <div class="btns-option" ng-show="guardarBtns">
                        <ul class="list-inline">
                            <li><a href="#">cancelar</a></li>
                            <li><a data-toggle="modal" data-target="#saveGrupos" class="btn-activo">guardar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="col-sm-12">
    <br><br><br><br><br>
    <div class="btns-option">
        <ul>
            <li style="text-align: right !important"><a href="#" class="btn-activo" data-toggle="modal" data-target="#subeImagen">Nuevo</a></li>
        </ul>
    </div>
</div>
<br><br><br>
<section class="contenido-perzonaliza" style="padding-top: 10%;">
    <div class="row" dnd-list="models.lists.B" style="height: 400px;">
        <div class="col-sm-3" ng-repeat="item in models.lists.B" dnd-draggable="item" dnd-moved="models.lists.B.splice($index, 1)"
            dnd-effect-allowed="move" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
            <a href="#" data-toggle="modal" data-target="#editaImagen" ng-click="edita(item)" class="b-red spacedown">
                <img class="imagemodulo" alt="Image Caption" ng-src="{{item.imagen}}" width="150px" height="150px">
                <h2 class="titltb d-red">{{item.Img_Titulo}}</h2>
            </a>
            <!-- <a href="#" data-toggle="modal" data-target="#editaImagen" ng-click="edita(item)">HHJSAHKAJ</a> -->
        </div>
    </div>
</section>

<div class="modal fade" id="subeImagen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="limpia()">&times;</button>
                <h4 style="color: white;">Nuevo Tablero</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Nombre:</label>
                    <input type="text" class="form-control" name="nomTablero" ng-model="nomTablero">
                </div>
                <form class="dropzone" id="fileUploadComplementos"></form>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <button ng-show="uploadButton" ng-click="uploadInvoice()" class="btn btn-primary btn-block"
                            ng-disable="nomTablero == null || nomTablero == undefined || nomTablero == ''" type="button"
                            name="button">Guardar Tablero</button>
                        <button ng-show="uploadButton" data-dismiss="modal" class="btn btn-success btn-block" type="button"
                            name="button">Cerrar</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editaImagen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="limpia()">&times;</button>
                <h4 style="color: white;">Editar Tablero</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Nombre:</label>
                    <input type="text" class="form-control" name="nomTablero" ng-model="imagenSel.Img_Titulo">
                </div>
                <img class="imagemodulo" alt="Image Caption" ng-src="{{imagenSel.imagen}}">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <button ng-click="guardar(imagenSel,1)" class="btn btn-primary btn-block" ng-disable="nomTablero == null || nomTablero == undefined || nomTablero == ''"
                            type="button" name="button">Guardar Tablero</button>
                        <button data-dismiss="modal" class="btn btn-danger btn-block" type="button" name="button"
                            ng-click="guardar(imagenSel,0)">Eliminar</button>
                        <button data-dismiss="modal" class="btn btn-success btn-block" type="button" name="button">Cerrar</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveGrupos" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="limpia()">&times;</button>
                <h4 style="color: white;">Editar Tablero</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">¿Estas seguro de guardar los tableros?</label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <button ng-click="saveTablero()" class="btn btn-primary btn-block" type="button" name="button">
                            Guardar Tablero
                        </button>
                        <button data-dismiss="modal" class="btn btn-success btn-block" type="button" name="button">
                            Cerrar
                        </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>