html,body{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(60,60,60,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3c3c3c', GradientType=0 );
}

.espacio{
    padding: 15px;
} 
.perfil{
    text-align: right;
    margin-right: 10px;
}
.perfil a{
    color: #fff;
    text-decoration: none;
}
.picperfil{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.contenido-perzonaliza{
    padding: 20px;
}
.titulo-perzonaliza h1{
    font-size: 3em;
    color: #fff;
}
.dealta h2{
    font-size:1.8em;
    color: #fff;
}
.dealta input{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid #ff8709;
}
.cajabus{
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    padding: 5px 20px;
    width: 100%;
    background-color: #fff;
}
.caja2{
    border: none;
    width: 95%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
.iconbus{
    position: absolute;
    right: 40px;
    margin-top: 0px;
    text-decoration: none;
    font-size: 3em;
    color: #ff8709;
    font-weight: bold;
}
.iconbus:hover{
    color: #d47108;
}
.tableritos ul li a{
    width: 150px;
    font-size: .6em;
}
.spacedown{
    margin-bottom: 30px;
}
.eliminat2{
    position: absolute;
    margin-top: 1.5%;
    margin-left: 1.95%;
}
.cuadritos{
    text-align: center;
    margin-top: 10px;
}
.cuadritos ul li a{
    width: 12px;
    height: 12px;
    background-color: #b1b1b1;
    display: block;
}
.c-activo{
    background-color: #fff !important;
}